# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle
/build/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.nbprojects/
*.swp
*.DS_Store

# Log files
*.log

# Project specific
/raw_files/
/cfr.jar
